@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --slate1: #fcfcfc;
  --slate2: #f8f8f8;
  --slate11: #6f6f6f;
  --slate12: #171717;
}

::selection {
  background-color: #ffbd12;
  color: var(--slate1);
}

html {
  scroll-behavior: smooth;
  background-color: var(--slate1);
}

html.dark {
  scroll-behavior: smooth;
  background-color: var(--slate12);
}

video::-webkit-media-controls {
  display: none !important;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  border-left: 1px solid var(--slate12);
  background: var(--slate1);
}

body::-webkit-scrollbar-thumb {
  background: var(--slate11);
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--slate12);
}
