@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --slate1: #fbfcfd;
  --slate2: #f8f9fa;
  --slate10: #7e868c;
  --slate12: #11181c;
}

::selection {
  background-color: #ffbd12;
  color: var(--slate1);
}

html {
  scroll-behavior: smooth;
  background-color: var(--slate2);
}

video::-webkit-media-controls {
  display: none !important;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  border-left: 1px solid var(--slate12);
  background: var(--slate1);
}

body::-webkit-scrollbar-thumb {
  background: var(--slate10);
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--slate12);
}
